
.page {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;  
  min-height: 0;
  overflow: auto;
}

.profileHeader {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  font-size: 4rem;
  color: #6200ea;
}

.role {
  font-size: 1.5rem;
  color: var(--text);
}

.profileBody {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}


.pane {
  width: 60%;
  display: none;
  background: var(--bg-light);
  padding: 1.5rem;
  border-radius: 8px;
  
}

.pane.active {
  display: block;
}

.profilePane {
  width: auto;
  
}

.sectionTitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--text);
}

.userInfoRow {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: var(--text);
}

.infoRow {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: var(--text);

}

.infoRow label {
  flex: 1;
  min-width: 100px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.inputWrapper {
  position: relative;
  flex: 2;
}

.editInput {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--text);
  background: var(--bg);
  outline: none;
}

.editInput:focus {
  border-color: var(--blue);
  box-shadow: 0 0 5px rgba(3, 169, 244, 0.5);
}

.editInput::-ms-reveal,
.editInput::-ms-clear {
  display: none;
}

.editInput::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: #555;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.actions button {
  padding: 8px 14px;
}

.actionBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--btn);
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.actionBtn:hover {
  background-color: var(--btn-hover);
  transform: translateY(-2px);
}

.changePassBtn  {
  background-color: var(--btn-secondary);
}

.changePassBtn:hover {
  background-color: var(--btn-secondary-hover);
  transform: translateY(-2px);
}

.editBtn {
  background: var(--btn-edit);
}

.editBtn:hover {
  background: var(--btn-edit-hover);
}
.cancelBtn {
  background: var(--btn-delete);
}

.cancelBtn:hover {
  background: var(--btn-delete-hover);
}

.logoutBtn {
  background-color: var(--btn-delete);
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: var(--btn-delete-hover);
  transform: translateY(-2px);
}

.icon {
  font-size: 18px;
}

.fieldError {
  font-size: 0.7rem;
  color: red;

  position: absolute;
  right: 5px;
  bottom: -20px;
}

@media (max-width: 768px) {

  .pane {
    width: 100%;
    padding: 5px;
  }

  .infoRow {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .userInfoRow {
    overflow: hidden;
  }

  .infoRow label {
    margin-bottom: 0.5rem;
  }

  .inputWrapper, .infoRow label {
    width: 100%;
  }

  .editInput, .inputWrapper {
    flex: 0;
  }

  .editInput {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .actions {
    flex-direction: column;
  }

  .actions button {
    flex: 1;
  }

  .avatar {
    font-size: 2rem;
  }

  .role {
    font-size: 1rem;
    ;
  }
}