/* pages/Profile/profilePage.module.css */
.page {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.profileHeader {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  font-size: 4rem;
  color: #6200ea;
}

.role {
  font-size: 1.5rem;
  color: var(--text);
}

.profileBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* Pane visibility toggling */
.pane {
  display: none;
  background: var(--bg-light);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.pane.active {
  display: block;
}

.sectionTitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--text);
}

.infoRow {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--text);
}

.infoRow label {
  min-width: 100px;
  font-weight: 600;
  color: var(--text);
  margin-right: 1rem;
}

.editInput {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--text);
  background: var(--bg);
}

.editInput:focus {
  border-color: var(--blue);
  box-shadow: 0 0 5px rgba(3, 169, 244, 0.5);
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.actions button {
  padding: 8px 14px;
}

.actionBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--btn);
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.actionBtn:hover {
  background-color: var(--btn-hover);
  transform: translateY(-2px);
}

.editBtn {
  background: var(--btn-edit);
}

.editBtn:hover {
  background: var(--btn-edit-hover);
}

.logoutBtn {
  background-color: var(--btn-delete);
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: var(--btn-delete-hover);
  transform: translateY(-2px);
}

.icon {
  font-size: 18px;
}

.fieldError {
  font-size: 0.75rem;
  color: red;
  margin-left: 100px;
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
  display: block;
}

@media (max-width: 768px) {
  .profileBody {
    grid-template-columns: 1fr;
  }

  .pane {
    padding: 5px;
  }
  .infoRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .infoRow label {
    margin-bottom: 0.5rem;
  }

  .editInput {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .actions {
    flex-direction: column;
  }

  .actions button {
    flex: 1;
  }

  .avatar {
    font-size: 2rem;
  }

  .role {
    font-size: 1rem;
    ;
  }
}