.page {
  background: var(--bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;

  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-width: 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.backBtn {
  align-self: flex-start;
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 500;
  background-color: var(--btn);
  color: #fff;
  margin-bottom: 15px;
}

.backBtn:hover {
  background-color: var(--btn-hover);
  box-shadow: 0 2px 5px rgba(67, 160, 71, 0.2);
}

.page h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: var(--text);
}

.formGroup {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--bg-dim);
  min-height: 300px;
  height: 100%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  overflow-y: auto;
}

.inputWrapper {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputWrapper label {
  font-weight: 500;
  color: var(--text);
  font-size: 1rem;
}

.inputWrapper input {
  color: var(--text);
  padding: 12px;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: var(--bg);
}

.inputWrapper input:focus {
  border-color: var(--blue);
  outline: none;
  box-shadow: 0 0 8px rgba(27, 134, 235, 0.3);
}

.inputWrapper input:disabled {
  background-color: var(--bg);
  color: var(--text);
  cursor: not-allowed;
}

.buttonGroup {
  flex: 1 1 100%;
  display: flex;
  gap: 15px;
}

.saveBtn,
.cancelBtn {
  flex: 1;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-weight: 500;
}

.saveBtn {
  background-color: var(--btn-edit);
  color: #fff;
}

.saveBtn:hover {
  background-color: var(--btn-edit-hover);

}

.cancelBtn {
  background-color: var(--btn-delete);
  color: #fff;
}

.cancelBtn:hover {
  background-color: var(--btn-delete-hover);

}

.loading {
  color: var(--text);
  text-align: center;
  font-size: 1rem;
}

.skeleton {
  background: var(--border);
  border-radius: 4px;
  margin: 1rem 0;
  height: 1.5rem;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}


.error {
  color: red;
  font-size: 0.8rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .page {
    width: 85%;
    padding: 20px;
  }

  .page h3 {
    font-size: 1.3rem;
  }

  .inputWrapper label,
  .inputWrapper input {
    font-size: 0.9rem
  }

  .saveBtn,
  .cancelBtn,
  .backBtn {
    font-size: 0.9rem;
    padding: 10px;
  }
}



@media screen and (max-width: 480px) {
  .page {
    width: 95%;
    padding: 15px;
  }

  .page h3 {
    font-size: 1.2rem;
  }

  .inputWrapper label,
  .inputWrapper input {
    font-size: 0.9rem
  }

  .saveBtn,
  .cancelBtn,
  .backBtn {
    font-size: 0.9rem;
    padding: 10px;
  }
}