.page {
  background: var(--bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;

  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-width: 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--text);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.inputGroup label {
  font-size: 0.9rem;
  color: var(--text-light);
}

.input {
  padding: 0.6rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  font-size: 1rem;
}

.dateRow {
  display: flex;
  gap: 1rem;
}

.generateBtn {
  padding: 0.8rem;
  background: var(--btn-edit);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-start;
  transition: background 0.3s;
}
.generateBtn:hover {
  background: var(--btn-edit-hover);
}

.preview {
  margin-top: 2rem;
}

.previewTitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.chartContainer {
  height: 300px;
}
