.page {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  font-family: "Inter", sans-serif;

  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-width: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--text);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.backButton {
  width: max-content;
  padding: 8px 12px;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 500;
  background-color: var(--btn);
  color: #fff;
}

.backButton:hover {
  background-color: var(--btn-hover);
}

.previewBtn {
  width: max-content;
  padding: 8px 12px;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 500;
  background-color: var(--btn-edit);
  color: #fff;
}

.previewBtn:hover {
  background-color: var(--btn-edit-hover);
}

.form {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--bg-dim);
  flex: 1 1 auto;  
  min-height: 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  overflow-y: auto;
}

.inputGroup {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
  min-width: 0;
}

.inputGroup label {
  text-align: left;
  color: var(--text);
  font-weight: 500;
  font-size: 0.95rem;
}

.inputGroup input,
.inputGroup textarea,
.inputGroup select {
  color: var(--text);
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 1rem;
  background-color: var(--bg);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

.inputGroup textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 250px;
}


.inputGroup input:focus,
.inputGroup textarea:focus {
  outline: none;
  border-color: var(--blue);
  box-shadow: 0 0 0 3px rgba(66, 165, 245, 0.2);
}


.fullWidth {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btnGroup {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.saveBtn {
  flex: 1;
  padding: 8px;
  background: var(--btn-edit);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-start;
  transition: background 0.3s;
}

.saveBtn:hover {
  background: var(--btn-edit-hover);
}

.cancelBtn {
  flex: 1;
  padding: 8px;
  background: var(--btn-delete);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-start;
  transition: background 0.3s;
}

.cancelBtn:hover {
  background: var(--btn-delete-hover);
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-dim);
  min-height: 300px;
  height: 100%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  overflow-y: auto;
  color: var(--text);
}

.previewTitle {
  font-size: 1rem;
  text-align: left;
  margin: 0;
}

.detailSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailSection h3,
.detailSection li {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}



.detailSection li {
  background: var(--bg);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: var(--text);
  border: 1px solid var(--border);
  transition: transform 0.2s ease, background-color 0.2s ease;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex: 1;
}

.detailSection li:hover {
  transform: translateY(-2px);
  background: var(--bg-dim);
}

.detailSection ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.chartContainer {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}





/* Responsive Fixes */
@media screen and (max-width: 768px) {
  .form {
    width: 95%;
    min-width: 100px;
  }

  .inputGroup input,
  .inputGroup textarea {
    font-size: 0.9rem;
  }

  .preview {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .previewTitle {
    flex: 0;
  }

  .chartContainer {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .page {
    min-width: 200px;
    padding: 15px;
  }

  .form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: auto;
    max-width: none;
    padding: 10px;
  }

  .inputGroup {
    flex: 1 1 100%;
  }

  .inputGroup input,
  .inputGroup label,
  .inputGroup textarea {
    width: 100%;
    max-width: 100%;
    font-size: 0.9rem;
  }

  .saveBtn,
  .cancelBtn,
  .backButton {
    font-size: 0.9rem;
    padding: 10px;
  }

  .buttonGroup {
    flex: 1 1 100%;
  }

}