.widget {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--bg-dim);
    padding: 0.5rem;
    gap: 1rem;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    border: 1px solid var(--border);
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    touch-action: manipulation;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    cursor: pointer;
  }

  .widget:hover {
    background-color: var(--bg-hover);
  }
  
  
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    color: var(--text);
  }
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .username {
    font-size: 1rem;
    color: var(--text);
    text-decoration: none;
  }

  @media (max-width: 1024px) {
   
  }
  
  @media (max-width: 767px) {
    .widget {
      flex: 0;
      max-width: auto;
      justify-content: center;
      border: none;
      box-shadow:none;
      background-color: transparent;
      transition: transform 0.2s ease-in;
    }

    .widget:hover {
      background-color: transparent;
      transform: translateY(-2px);
    }


    .info {
    display: none;
   }

  }
  
  @media (max-width: 480px) {
   
  }
  