.card {
  background: var(--bg);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: var(--text);
  border: 1px solid var(--border);
  transition: transform 0.2s ease, background-color 0.2s ease;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex:1;
}

.card:hover {
  transform: translateY(-2px);
  background: var(--bg-dim);
}

.title, .value, .description {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

