/* sidebar.module.css */

.sidebar {
    background-color: var(--bg);
    color: var(--text);
    padding: 20px 10px;
    transition: width 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column; 
  }
  
  
  .sidebar.open {
    width: 200px;
  }
  
  .sidebar.closed {
    width: 40px;
  }
  
  
  .toggleBtn {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: var(--bg-dim);
    color: var(--text);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  
  .logo {
    position: absolute;
    top: 5px;
    left: 14px;
  }
  
  .sidebar.closed .logo {
    text-align: center;
  }
  
  
  .sidebar nav {
    margin-top: 100px;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 20px;
  }
  
  
  .sidebar nav ul li a {
    color: var(--text);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }
  
  .sidebar nav ul li a:hover,
  .sidebar nav ul li a.active {
    background-color: var(--bg-dim);
  }
  
  
  .sidebar nav ul li a .icon {
    font-size: 1.2rem;
    margin-right: 10px;
    transition: all 0.3s ease;
  }
  
  
  .sidebar.closed nav ul li a span {
    display: none;
  }
  
  
  .sidebar.closed nav ul li a {
    justify-content: center;
  }
  
  .sidebar.closed nav ul li a .icon {
    margin-right: 0;
    font-size: 1.4rem;
  }

  @media (max-width: 1400px) {
    .sidebar nav {
      margin-top: 50px;
    }
  } 
  