.searchInput {
  padding: 8px;
  width: 250px;
  border: 1px solid var(--bg-dim);
  border-radius: 4px;
  outline: none;
  color: var(--text);
  transition: border-color 0.2s ease;
  background-color: var(--bg);
}

.searchInput:focus {
  border-color: var(--blue);
}

/* RESPONSIVENESS */

/* Tablets (below 1024px) */
@media (max-width: 1024px) {}

/* Mobile screens (below 768px) */
@media (max-width: 768px) {
  .searchInput {
    width: calc(100% - 16px);
  }
}

/* Extra small screens (below 480px) */
@media (max-width: 480px) {
  .searchInput {
    width: calc(100% - 16px);
  }
}