.page {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: var(--eerie-black);
  }
  
  .page h1 {
    margin-top: 0;
    color: var(--eerie-black)
  }
  