.page {
  padding: 20px;
  border-radius: 10px;
  background: var(--bg);
  color: var(--text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  font-family: "Inter", sans-serif;

  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-width: 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}

.dashboard {
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dashboard h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.widgetsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .widgetsGrid {
    flex-direction: column;
  }

  .dashboard h1 {
    text-align: center;
    font-size: 1.3rem;
  }
}


@media (max-width: 480px) {
  .dashboard h1 {
    font-size: 1.1rem;
  }
}