.dashboard {
  display: flex;
  min-height: 100vh; 
  font-family: 'Inter', sans-serif;
  overflow: visible;
}


.content {
  flex: 1;
  padding: 20px;
  background-color: var(--bg-dim);
  overflow-x: auto;
}


