.page {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formContainer {
  padding: 10px;
  border-radius: 8px;
  min-width: 300px;
  text-align: center;
  box-sizing: border-box;



  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: stretch;
}

.inputWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
}

.inputWrapper label {
  text-align: left;
}

.inputWrapper input {
  all: unset;
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.inputWrapper input:focus {
  border-color: #3498db;
}

.inputWrapper textarea {
  all: unset;
  resize: vertical;
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  min-height: 60px;
}

.inputWrapper textarea:focus {
  border-color: #3498db;
}

.inputWrapper.fullWidth {
  flex: 1 1 100%;
}



.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
}

.saveBtn,
.cancelBtn {
  flex: 1;

  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}


.saveBtn {
  background-color: #28a745;
  color: white;
}

.cancelBtn {
  background-color: #dc3545;
  color: white;
}


.saveBtn:hover {
  background-color: #218838;
}

.cancelBtn:hover {
  background-color: #c82333;
}



/* Tablets (768px and below) */
@media screen and (max-width: 768px) {
  .formContainer {
    width: 95%;
    min-width: 100px;
  }

  .inputWrapper input {
    font-size: 14px;

  }
}

/* Mobile (480px and below) */
@media screen and (max-width: 480px) {
  .page {
    min-width: 200px;
  }

  .formContainer {
    width: 95%;
    max-width: none;
    padding: 10px;
  }

  .saveBtn,
  .cancelBtn {
    font-size: 14px;
    padding: 12px;
  }
}