/* Container for the entire page */
.page {
  background-color:var(--bg);
  padding: 30px 20px;
  margin: auto;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

/* Back Button */
.backButton {
  align-self: flex-start;
  background-color: var(--btn);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.backButton:hover {
  background-color:var(--btn-hover);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

/* Card container for supplier details */
.card {
  background: var(--bg-dim);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 90%;
}

/* Supplier Title */
.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text);
}

/* Supplier Details Section */
.details {
  margin-bottom: 30px;
}

.detailItem {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: 16px;
  color:var(--text);
}

.detailLabel {
  font-weight: 500;
  margin-right: 10px;
  color:var(--text);
}
.date {
  color: rgb(0, 195, 255);
}

/* Products Section */
.products {
  margin-top: 20px;
}

.productsTitle {
  font-size: 22px;
  margin-bottom: 15px;
  color:var(--text);
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table tr {
  background-color: var(--bg);
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--border);
  font-size: 15px;
  color: var(--text);
}

.table th {
  font-weight: 600;
  color: var(--text);
}

.table tbody tr:hover {
  background-color:var(--bg-dim);
}

/* No Products Message */
.noProducts {
  font-size: 16px;
  color: #999;
  padding: 15px;
  text-align: center;
}

/* Loading Text */
.loading {
  font-size: 18px;
  color: var(--text);
  margin-top: 50px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .card {
    padding: 20px;
  }

  .title {
    font-size: 24px;
  }

  .detailItem {
    font-size: 14px;
  }

  .productsTitle {
    font-size: 20px;
  }

  .table th,
  .table td {
    font-size: 0.9rem;
    padding: 10px 12px;
  }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
  .page {
    min-width: 200px;
    padding: 15px;
  }

  .card {
    padding: 15px;
  }

  /* Ensure the table can scroll horizontally */
  .table {
    width: 100%;
    overflow-x: auto;
  }
  .table th,
  .table td {
    font-size: 0.5rem;
    padding:5px 10px;
  }

  .detailItem {
    font-size: 0.7rem;
  }
}
