/* Container for the entire page */
.page {
  background-color: var(--bg);
  padding: 30px 20px;
  margin: auto;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

/* Back Button */
.backButton {
  align-self: flex-start;
  background-color:var(--btn);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.backButton:hover {
  background-color:var(--btn-hover);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

/* Card container for customer details */
.card {
  background: var(--bg-dim);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 90%;
  overflow-x: auto;
}

/* Customer Title */
.title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text);
}

/* Customer Details Section */
.details {
  margin-bottom: 30px;
}

/* Detail Item */
.detailItem {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: 16px;
  align-items: center;
}

/* Detail Label */
.detailLabel {
  font-weight: 500;
  margin-right: 10px;
  color: var(--text);
}

/* Detail Value */
.detailValue {
  color: var(--text);
}

/* Toggle Button for Password */
.resetBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  color: var(--blue);
  transition: color 0.3s;
  position: relative;
}

.resetBtn::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--blue);
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;

}

.resetBtn:hover::before {
  width: 99%;
}

/* Loading Text */
.loading {
  font-size: 18px;
  color:var(--text);
  margin-top: 50px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .card {
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
  }
  
  .detailItem {
    font-size: 14px;
  }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
  .page {
    min-width: 200px;
    padding: 15px;
  }
  
  .card {
    padding: 15px;
    overflow-x: auto;
  }
  
  .detailItem {
    font-size: 12px;
  }
}
