.container {
  background: var(--bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;

  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-width: 200px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.container h1 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--text);
}


.form {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--bg-dim);
  flex: 1 1 auto;  
  min-height: 0;
  
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  overflow-y: auto;
}

.inputGroup {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;
  min-width: 0;
}

.inputGroup label {
  font-size: 1rem;
  color: var(--text);
  margin-bottom: 4px;
}

.inputGroup input {
  padding: 10px;
  font-size: 1rem;
  background: var(--bg-dim);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.inputGroup input:focus {
  border-color: var(--blue);
}

.inputGroup textarea {
  all: none;
  color: var(--text);
  background-color: var(--bg-dim);
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  resize: vertical;
  height: 60px;
}

.inputGroup textarea:focus {
  border-color: var(--blue);
  outline: none;
}

.fullWidth {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
  margin-top: 10px;
}

.backButton {
  width: max-content;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: 500;
}

.saveBtn,
.cancelBtn {
  max-height: 40px;
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Roboto", sans-serif;
}

.saveBtn {
  background-color: var(--btn-edit);
  color: #fff;
}

.saveBtn:hover {
  background-color: var(--btn-edit-hover);
}

.cancelBtn {
  background-color: var(--btn-delete);
  color: #fff;
}

.cancelBtn:hover {
  background-color: var(--btn-delete-hover);
}

.backButton {
  background-color: var(--btn);
  color: #fff;
}

.backButton:hover {
  background-color: var(--btn-hover);
}


.loading {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 2rem;
  color: var(--text);
}

.skeleton {
  background: var(--border);
  border-radius: 4px;
  margin: 1rem 0;
  height: 1.5rem;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}


.error {
  font-size: 0.8rem;
  color: red;
}

/* Responsive styling  */
@media (max-width: 769px) {
  .container {
    padding: 15px;
  }

  .container h1 {
    font-size: 1.3rem;
  }

  .inputGroup label,
  .inputGroup input,
  .inputGroup textarea {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .container h1 {
    font-size: 1.3rem;
  }

  .inputGroup label,
  .inputGroup input,
  .inputGroup textarea {
    font-size: 0.9rem;
  }

  .saveBtn,
  .cancelBtn,
  .backButton {
    font-size: 0.9rem;
    padding: 12px;
  }
}