.container {
  max-width: 1200px;
  min-width: 200px;
  margin: 2rem auto;
  background: var(--bg);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


.container h1 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--text);
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-size: 1rem;
  color: var(--text);
  margin-bottom: 4px;
}

.inputGroup input {
  padding: 10px;
  font-size: 1rem;
  background: var(--bg-dim);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.inputGroup input:focus {
  border-color: var(--blue);
}

.inputGroup textarea {
  all: none;
  color: var(--text);
  background-color: var(--bg-dim);
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  resize: vertical;
  height: 60px;
}

.inputGroup textarea:focus {
  border-color: var(--blue);
  outline: none;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.saveBtn,
.cancelBtn {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Roboto", sans-serif;
}

.saveBtn {
  background-color: var(--btn-edit);
  color: #fff;
}

.saveBtn:hover {
  background-color: var(--btn-edit-hover);
}

.cancelBtn {
  background-color: var(--btn-delete);
  color: #fff;
}

.cancelBtn:hover {
  background-color: var(--btn-delete-hover);
}


.loading {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 2rem;
  color: var(--text);
}

.error {
  font-size: 0.8rem;
  color: red;
}

/* Responsive styling for smaller screens */
@media (max-width: 769px) {
  .container {
    padding: 15px;
  }

  .container h1 {
    font-size: 1.3rem;
  }

  .inputGroup label,
  .inputGroup input,
  .inputGroup textarea {
    font-size: 1rem;
  }

  .saveBtn,
  .cancelBtn {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .container h1 {
    font-size: 1.3rem;
  }

  .inputGroup label,
  .inputGroup input,
  .inputGroup textarea {
    font-size: 0.9rem;
  }

  .saveBtn,
  .cancelBtn {
    font-size: 1rem;
    padding: 8px;
  }
}